<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHome">
        <activity
            android:name=".Introductory"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity
            android:name=".passcode_activity"
            android:exported="false" />
        <activity
            android:name=".SecretLock"
            android:exported="false" />
        <activity
            android:name=".Control"
            android:exported="false" />
        <activity
            android:name=".MonitorData"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

    </application>

</manifest>